body{
    border: 1px solid;
    background: linear-gradient(90deg,#ede682,#f3ecc2);
}

.container{
    width: 960px;
    margin: 0 auto; 
/*pied de page*/
    display: flex;  
    flex-direction: column;
    min-height: 100vh; /*100% de la taille de l ecran*/
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header li{
    list-style: none;
}
img{
    max-width: 100%;
}
section{
display: grid;
grid-template-columns: 1fr 2fr; 
grid-gap: 10px;  

flex: 1;/* pied de page*/
border: 1px solid;
}

footer{
position:absolute;
border: 1px solid ;
width: 960px;
bottom:0;   
    
}

input[type="text"]{
    padding: 10px;
}
.message{
    color: green ;
}
.error{
    border: 2px solid red;
    
}
