.container{
    width: 960px;
    margin: 0 auto;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-right: 10px;
}
section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding-top: 10px;

    /* align-items: center; */
}

section div{
    background-color: lightblue;
    padding: 10px;
}